/* Fonts */

/* Styling */

* {
  padding: 0px;
  margin: 0px;
  outline: none;
}

body {
  background-color: #282E58;
}

#title {
  color: #FDFEFE;
  font-size: 3em;
  padding: 0px 20px;
  margin: 12px;
}
form {
  text-align: center;
  font-size: 1.1em;
}
form {
  background-color: #FDFEFE;
  padding: 20px 0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

input, textarea{
  border: 2px solid #5585ff;
  padding: 5px 10px;
  color: #5585ff;
  font-size: 15px;
  transition: all 0.25s ease;
}
input:focus, textarea:focus{
  background-color: #5585ff;
  color: #FDFEFE;
}

button {
  padding: 5px 15px;
  margin: 15px 0px 0px 0px;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #5585ff;
  color: #5585ff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #5585ff;
  letter-spacing: 1px;
}
button:active{
  letter-spacing: 2px;
}
#teams {
  color:#282E58;
  background-color: #FDFEFE;
  border: 4px solid #FDFEFE;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#team-title {
  color: #282E58;
  font-size: 3em;
  margin: 5px 15px;
}
#teams > div {
  margin: 0px 0px 30px 38px;
}

#teams > div > h3{
  font-size: 2em;
}
#teams > div> p {
  padding: 5px;
}
#teams > div> button {
  margin: 15px 0px 0px 0px;
  outline: none;
  height: 35px;
  text-align: center;
  width: 120px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #F5595A;
  color: #F5595A;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 15.4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
#teams > div> button:hover {
  color: white;
  background: #F5595A;
  letter-spacing: 1px;
}
#teams > div> button:active{
  letter-spacing: 2px;
}
